
header {
    display: flex;
}
header :nth-child(1){
    margin: auto 0 auto 1rem;
    text-align: left;
    color: var(--bordes);
}
header :nth-child(1) p::first-letter{
    color: var(--fuenteColor);
}
header :nth-child(2){
    height: 30px;
    margin: auto 0 auto;
    border: 1px solid var(--fuenteColor);
    border-radius: 15px;
}
header :nth-child(3){
    width: auto;
    margin: auto 1rem auto 4rem;
    text-align: right;
    color: var(--bordes);
}