
section .sheetsContainer {
    grid-template-rows: 12rem 12rem;
    grid-template-columns: repeat(auto-fill, 
    minmax(6rem, 9rem));
    grid-auto-rows: 12rem;
    grid-auto-columns: 6rem;
    gap: 1rem;
    justify-content: space-evenly;
}
