:root {
    --fondo: #C4DDFF;
    --fuenteColor: #7FB5FF;
    --bordes: #001D6E;
    --fondoContenerdor: #FFEEEE;
    --white: #FFFFFF;
    --fondoGeneral: linear-gradient(207.8deg, #d1f8ff 16.69%, #ffffff 100%);
    --fuente: 'Poppins', sans-serif;
    /*Thin 100
    Thin 100 Italic
    Light 300
    Light 300 Italic
    Regular 400
    Regular 400 Italic
    Bold 700
    Bold 700 Italic*/
}

header {
    display: flex;
}
header :nth-child(1){
    margin: auto 0 auto 1rem;
    text-align: left;
    color: var(--bordes);
}
header :nth-child(1) p::first-letter{
    color: var(--fuenteColor);
}
header :nth-child(2){
    height: 30px;
    margin: auto 0 auto;
    border: 1px solid var(--fuenteColor);
    border-radius: 15px;
}
header :nth-child(3){
    width: auto;
    margin: auto 1rem auto 4rem;
    text-align: right;
    color: var(--bordes);
}